<div
  (dragover)="false"
  (dragend)="false"
  (drop)="handleDrop($event, canvas)"
  class="dropzone">

  <div class="stage">
    <div *ngIf="showDropzone">
      <p>
        <strong>Drop a PNG or JPG</strong>
      </p>
      <img src="assets/images/placeholder.png">
    </div>
    <canvas [hidden]="!imageElement" #canvas></canvas>
  </div>

  <div *ngIf="!showDropzone" class="carousel">
    <canvas thumbnail (click)="setFilter(filter)" *ngFor="#filter of filters"
            [filter]="filter" #childCanvas
            [image]="imageElement" [childCanvas]="childCanvas"
            class="thumb"></canvas>
  </div>
</div>
